* {
    margin: 0;
    padding: 0;
    top: 0;
}

.navbar {
    background-color: #3c3a39;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

.logo {
  width: 200px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  color: #fff;
}

.fa {
    color: white;
    height: 50px;
    width: 200px;
  
}

.socials {
    background-color: #1c1a19;
}

.intro {
    width: 566px;
  
}

.intro h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
}

.info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  height: 123px;
}

.my-title {
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.lang {
    width: 250px;
}

.posts {
    width: 458px;
}

.posts h2 {
    width: 458px;
    height: 48px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #091e42;
}

.post-image {
    width: 684px;
    height: 448px;
}

.posts p {
    width: 448px;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
}

.card-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.work-intro {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
}

.my-info {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 67px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.bottom {
    background: #1c1a19;
}

.dot {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  display: block;
}

.box {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.box-rotate {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
}

.languages a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
}